@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
body {
    font-family: 'Noto Sans JP', sans-serif;
    top: 0;
    margin: 0px;
    background-color: white;
    min-height: 100vh;
    position: relative;
    padding-bottom: 88px;
    box-sizing: border-box;
}

header {
    display: inline-block;
    width: 100%;
    background-color: #373737;
}

header img {
    vertical-align: middle;
}

footer {
    width: 100%;
    background-color: #282828;
    margin: auto 0 0 0;
    position: absolute;
    bottom: 0;
}

nav {
    float: right;
    margin: 0 0 0 auto;
}

nav li {
    vertical-align: middle;
    list-style: none;
    padding: 0 5px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

nav p {
    margin: 0 1px;
    font-size: 20px;
}

main {
    display: inline-block;
    width: 100%;
}

aside {
    margin-bottom: 50px;
}

aside li {
    list-style: none;
}

aside a, h3 a {
    text-decoration: none;
    color: #000;
}

input, textarea {
    display: block;
}

input[name="title"] {
    width: 40%;
}

textarea {
    width: 80%;
    resize: none;
    font-family: 'Noto Sans JP', sans-serif;
}

button[type="submit"] {
    margin-top: 10px;
    text-align: center;
    width: 80%;
    height: 2em;
}

button[disabled] {
    background-color: #aaa;
    cursor: not-allowed;
}

label small {
    color: crimson;
}

dialog {
    position: relative;
    width: 500px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 0;
    padding: 0;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    animation: modal-open .4s ease;
}

dialog[open] {
    animation: modal-slide .5s ease;
}

dialog h2 {
    margin-left: 20px;
    float: left;
}

dialog a {
    color: #000;
    text-decoration: none;
    float: right;
}

.wrapper {
    display: block;
    max-width: 80%;
    min-width: 751px;
    margin: 0 auto;
}

.titler {
    color: whitesmoke;
    float: left;
    font-weight: lighter;
    margin: 0 0 auto 0;
    padding: 10px 0px;
}

.titler a {
    text-decoration: none;
    color: whitesmoke;
}

.articles {
    margin: 0 50px;
}

.s-title {
    font-size: 32px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #bbbbbb;
}

.downloads {
    margin-left: 20px;
}

.smallest {
    font-size: xx-small;
}

#h-title {
    font-size: 42px;
}

#h-nav {
    height: 61px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#h-nav ul {
    display: inline-flex;
    flex-direction: row;
}

#h-nav p {
    color: whitesmoke;
    float: right;
}

#title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 36px;
}

#sort {
    margin-left: 1.1em;
}

#f-title {
    font-size: 30px;
    width: 50%;
}

#f-nav {
    width: 50%;
}

#f-nav ul {
    display: inline-flex;
    flex-direction: column;
    float: right;
}

#f-nav li {
    padding: 1px 1px;
}

#f-nav p {
    font-size: 15px;
}

#copyright {
    width: 100%;
    margin: 0 auto;
    color: dimgray;
}