@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body {
    font-family: 'Kosugi Maru', sans-serif;
    top: 0;
    margin: 0px;
    background-color: whitesmoke;
}

header {
    position: fixed;
    width: 100%;
    background-color: gainsboro;
    border-bottom: 2px solid gray;
}

#h-wrapper {
    display: block;
    max-width: 80%;
    min-width: 600px;
    margin: 0 auto;
}

#h-title {
    float: left;
    font-weight: lighter;
    margin: 0 0 auto 0;
    padding: 10px 0px;
    font-size: 35px;
}

#h-nav {
    float: right;
    margin: 0 0 0 auto;
}

#h-nav ul {
    display: inline-flex;
    flex-direction: row;
}

#h-nav li {
    vertical-align: middle;
    list-style: none;
    padding: 0 5px;
    border-left: 1px solid gray;
}

#h-nav li:last-child {
    border-right: 1px solid gray;
}

#h-nav a {
    text-decoration: none;
    color: black;
}

#h-nav p {
    margin: 0 1px;
    float: right;
    font-size: 20px;
}