@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
body {
    font-family: 'Noto Sans JP', sans-serif;
    top: 0;
    margin: 0px;
    background-color: white;
    min-height: 100vh;
    position: relative;
}

header {
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 2px solid gray;
}

footer {
    width: 100%;
    background-color: gray;
    border-top: 2px solid dimgray;
    margin: auto 0 0 0;
    position: absolute;
    bottom: 0;
}

nav {
    float: right;
    margin: 0 0 0 auto;
}

nav li {
    vertical-align: middle;
    list-style: none;
    padding: 0 5px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav p {
    margin: 0 1px;
    font-size: 20px;
}

header img {
    vertical-align: middle;
}

main {
    display: inline-block;
    margin-top: 73px;
    position: absolute;
}

.wrapper {
    display: block;
    max-width: 80%;
    min-width: 700px;
    margin: 0 auto;
}

.titler {
    font-family: 'Yusei Magic', sans-serif;
    float: left;
    font-weight: lighter;
    margin: 0 0 auto 0;
    padding: 10px 0px;
}

.titler a {
    text-decoration: none;
    color: black;
}

#h-title {
    font-size: 35px;
}

#h-nav ul {
    display: inline-flex;
    flex-direction: row;
}

#h-nav li {
    border-left: 1px solid gray;
}

#h-nav li:last-child {
    border-right: 1px solid gray;
}

#h-nav p {
    float: right;
}

#f-title {
    font-size: 30px;
}

#f-nav ul {
    display: inline-flex;
    flex-direction: column;
}

#f-nav li {
    padding: 1px 1px;
}