header {
  background-color: #adff2f;
  float: left;
}
footer {
  background-color: #90ee90;
}


.h-logo {
  font-size: 38px;
  float: left;
}
.h-list {
  float: right;
}
.h-list li {
  float: left;
  margin-left: 10px;
  list-style-type: none;
}
