body {
   margin: 0px;
   -webkit-text-size-adjust: 100%;
}
header {
  background-color: #adff2f;
  float: left;
  text-align: center;
  width: 100%;
}
footer {
  background-color: #90ee90;
}


.h-logo {
  font-size: 38px;
  float: left;
}
.h-list {
  float: right;
}
.h-list li {
  float: left;
  margin-left: 10px;
  list-style-type: none;
}
.main {

}
