body {
   margin: 0px;
   -webkit-text-size-adjust: 100%;
}
header {
  background-color: #adff2f;
  float: left;
  margin: auto;
  width: 100%;
}
footer {
  background-color: #90ee90;
}


.h-logo {
  font-size: 38px;
  float: left;
  padding: 5px;
  margin-bottom: 5px;
}
.h-list {
  float: right;
}
.h-list li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  list-style-type: none;
  border-right: solid 2px #aaaaaa;
}
.h-list li:first-child {
  border-left: solid 2px #aaaaaa;
}
.h-list li:last-child {
  margin-right: 10px;
}
.main {
 font-family: sans-serif, `メイリオ`, `Hiragino Kaku Gothic Pro`;
}
